<div class="guttered  consultable-container long-container">

  <h1>Options</h1>

<!--
  <div class="export-group">
    <h3>How to export items ?</h3>
    <div
          class="btn-group flexed"
        >
          <div
            class="btn animate-medium"
            ng-class="{'active':!exportAsList}"
            ng-click="switchExportAsList(false)"
          >
            Export entries in one file
          </div>

          <div
            class="btn animate-medium"
            ng-class="{'active': exportAsList}"
            ng-click="switchExportAsList(true)"
          >
            Export entries in separate files
          </div>
    </div>
  </div>



  <div
    class="export-group"
  >
    <h3>How to sort items ?</h3>
    <ul
      class="big-list"
      id="sort-mode-list"
      style="margin-bottom : 1em"
    >
      <li
        class="animate-medium"
        ng-class="{'active' : sortMode === 'title' }"
        ng-click="setSortMode('title')"
      >
        Item title
      </li>

      <li
        class="animate-medium"
        ng-class="{'active' : sortMode === 'firstAuthor' }"
        ng-click="setSortMode('firstAuthor')"
      >
        First author last name
      </li>

      <li
        class="animate-medium"
        ng-class="{'active' : sortMode === 'publicationYear' }"
        ng-click="setSortMode('publicationYear')"
      >
        Publication year
      </li>
    </ul>

    <div
          class="btn-group flexed"
        >
          <div
            class="btn animate-medium"
            ng-class="{'active':sortAscending}"
            ng-click="setSortAscending(true)"
          >
            <span class="glyphicon glyphicon-arrow-up">Ascending</span>
          </div>

          <div
            class="btn animate-medium"
            ng-class="{'active': !sortAscending}"
            ng-click="setSortAscending(false)"
          >
            <span class="glyphicon glyphicon-arrow-down">Descending</span>
          </div>
    </div>
  </div> -->

</div>
